@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

body {
	color: #fff;
	font-family: 'Lato', Arial, sans-serif;
}

a,
a:focus {
	outline: none;
}

.codrops-header {
	position: relative;
	margin: 0 auto;
	max-width: 90%;
	text-align: center;
}

.codrops-header a {
	outline: none;
	color: #fff;
	text-decoration: none;
	opacity: 0.7;
}

.codrops-header a:hover,
.codrops-header a:focus {
	opacity: 1;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
}

.codrops-header h1 span {
	display: block;
	padding: 0.4em 1em 1em;
	font-size: 60%;
}

.codrops-links {
	margin: 0;
}

.codrops-links a {
	display: inline-block;
	margin: 0 0.6em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 75%;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding: 2em 0 3em;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	outline: none;
	border: 3px solid rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	font-weight: 700;
	opacity: 1;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover,
.codrops-demos a:focus {
	border-color: #fff;
	color: #fff;
}

/* Related demos */

.codrops-related {
	padding-bottom: 2em;
	color: rgba(0,0,0,0.4);
}

.codrops-related a {
	display: inline-block;
	margin-top: 0.5em;
}

@media screen and (max-width: 30em) {
	body {
		font-size: 90%;
	}
}

@media screen and (max-height: 29em) {
	.container {
		height: auto;
	}
	.codrops-header {
		position: relative;
		margin: 0 auto;
		height: auto;
		max-width: 100%;
	}
}

/* Demo Layout */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 10px;
  color: #efefef;
  background-color: #272822;
}

#container, footer, header {
  position: relative;
  margin: 8px;
  font-size: 14px;
  line-height: 16px;
}

.left {
  margin-bottom: 8px;
  border: 1px solid #d7782c;
}

.right {
  border: 1px solid #77A025;
  transition: all 0.75s;
}

.right.alert {
  border: 1px solid #E42267;
}

#container h3 {
  padding: 8px;
  margin: 0;
  height: 32px;
  font-weight: normal;
}

#container .left h3 {
  background-color: #ec9652;
  color: #aa5714;
  border-bottom: 1px solid #d7782c;
}

#container .right h3 {
  background-color: #daf6a1;
  color: #557B0A;
  border-bottom: 1px solid #77A025;
  transition: all 0.75s;
}

#container .right.alert h3 {
  background-color: #fca4c3;
  color: #CB0048;
  border-bottom: 1px solid #E42267;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.CodeMirror {
  height: 361px !important;
}

#container.shy .CodeMirror, #container.shy textarea {
  display: none;
}

footer, header {
  color: #dbdbdb;
  padding: 0;
}

footer h3, header h2 {
  width: 360px;
  font-weight: normal;
}

footer h3 {
  margin: 0 auto;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
}

a, a:visited {
  color: #e6db74;
  text-decoration: none;
}

a:hover, a:active {
  color: #FFF7A8;
  text-decoration: none;

}

@media screen and (min-width: 996px) {
  .right {
    position: absolute;
    top: 0;
    right: 0;
  }

  .CodeMirror {
    height: 764px !important;
  }
}

@media screen and (max-width: 1233px) and (min-width: 996px) {

  .left {
    margin-right: 488px;
  }

  .right {
    width: 480px;
  }
}

@media screen and (max-width: 1501px) and (min-width: 1234px) {
  .left {
    margin-right: 622px;
  }

  .right {
    width: 614px;
  }
}

@media screen and (min-width: 1502px) {
  .left {
    margin-right: 755px;
  }

  .right {
    width: 747px;
  }
}
