
.outerContainer{
    width:100%;
    height:640px;
    position: relative;
    background: #f5f5f5;
    margin:0 auto;
}

#draggableContainer{
    width: 25%;
    /*height: 100%;*/
    position: relative;
    float: left;
    /*background:rgba(10,200,80,.5);*/
    background-color: #04a466;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 5px;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
}
#droppableContainer{
    width: 70%;
    /*height: 100%;*/
    position: relative;
    float: left;
    /*background:rgba(10,200,80,.5);*/
    /*  background-color: #E8EDF1;*/
    background-color: #04a466;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 10px;
    padding-top: 10px;
}

#tabelaResult{
  margin-top: 50px;
}

.table-tr{
  background-color: #cccccc;
}

#exTab2 .tab-content {
    width: 25%;
    color : white;

}

#exTab2 h3 {
   width: 300px;
  color : white;

}

#divForError{
  font-family: arial;
  color: red;
  font-size: 15px;
  text-align: center;
}

.nav-tabs
{
    width: 30%;
}

ul, ol {
  list-style: none;
}
#accordion1 li.panel{
    margin-bottom: 0px;
}

#btnExecutar{
  width: 30%;
  float: right;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 40px;
}


.btnVoltarSimulacao{
	text-align: left;
	padding-left: 14%;

}

.modal-dialog {
  width: 100%;
  /*height: 50%;*/
  padding: 0;
}
.modal-content {
    /*height: 50%;*/
  border-radius: 0;
}


.modal-dialogHelp {
  width: 100%;
  height: 100%;
  padding: 0;
}
.modal-content {
  /*height: 150%;*/*
  border-radius: 0;
}


.modal-dialogHelp {
    position: relative;
    width: auto;
    margin: 10px;
}
